.Hero {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  animation: appear 1s ease;
  min-width: 100vw;

  .HeroText {
    width: 70%;

    h1 {
      font-size: 3.5em;
      color: #fff;
      font-weight: 400;
      text-align: center;
    }

    h2 {
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      width: 30%;
      margin: 0 auto;
      padding: 1vh 1vw;
      cursor: pointer;

      &:hover {
        background: #000;
        border: 1px solid #000;
        transition: 1s ease;
      }
    }
  }
}
.Buttons {
  width: 30%;
  display: flex;
  justify-content: center;

  img {
    border: 0.5px solid #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
}
.Mountain {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
      no-repeat center center / cover;
  animation: appear 1s ease;
}

@keyframes appear {
  0% {
    // opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    // opacity: 1;
    transform: translateY(0);
  }
}
