.Desert {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/459319/pexels-photo-459319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
      no-repeat center center / cover;
  animation: desert 1s ease;
}

@keyframes desert {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
