.Buttons {
  img {
    &:hover {
      background: #696969;
      transition: 1s ease;
    }
  }
}

@media screen and (max-width: 768px) {
  .Buttons img {
    height: 35px;
  }
}
@media screen and (max-width: 600px) {
  .Buttons img {
    height: 30px;
  }
}
