.Beach {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
      no-repeat center center / cover;
  animation: beach 1s ease;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes beach {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
